version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: nest_postgres_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nestjs_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    container_name: nest_api
    build:
      context: .
      target: prod
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  postgres_data:
